* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  width: 100vw;
  height: 100vh;
  background-color: #130f40;
  display: flex;
  justify-content: center;
}

.main-div .child-div {
  width: 80%;
  height: 50%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.child-div figure {
  color: #fff;
  margin-bottom: 1rem;
}

.child-div figcaption {
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

.child-div .addItems {
  display: flex;
  justify-content: right;
  align-items: center;
}

.addItems input {
  width: 23rem;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0 0.5rem;
  position: relative;
}

.addItems i {
  position: absolute;
  margin-right: 0.5rem;
}

.addItems i:hover {
  cursor: pointer;
  color: #22a6b3;
  transition: 0.3sec all;
  -webkit-transition: 0.3sec all;
  -moz-transition: 0.3sec all;
  -ms-transition: 0.3sec all;
  -o-transition: 0.3sec all;
}

.child-div .showItems {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.showItems .eachItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23rem;
  height: 2.5rem;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background: #3867d6;
  color: #fff;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.showItems .eachItem:hover {
  background-color: #fff;
  cursor: pointer;
}

.eachItem h3 {
  font-size: 1.1rem;
  font-weight: lighter;
}

.eachItem:hover h3 {
  color: #000;
}

.eachItem:hover i {
  color: red;
}
